<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('partials/layout') %>
  <script src="../scripts/partials/textToVoiceConfig.js" defer></script>
  </head>
  
  <body>
    <!-- TEMPLATE PAGE -->
    <main data-route="template">
      <nav>
        <ul>
          <li>
            <a aria-label="Homepage" href="javascript:history.back()"></a>
          </li>

          <li>
            <a
              aria-label="Twitter opener"
              href="https://twitter.com/intent/tweet"
              target="_blank"
            ></a>
          </li>
        </ul>
      </nav>
      <section>
        <article>
          <div>
            <img src="<%=detailItem.img%>" alt="article image" />
          </div>
          <h2><%=detailItem.title%></h2>
          <div>
            <small
              ><i class="fa-solid fa-file-signature"></i><%=detailItem.author%>
            </small >
              
              <div>
              <button form="speechForm" type="submit">
                <i class="fa-solid fa-headphones"></i>
              </button>
              <button class="hidden" type="button">
                <!-- default state is "hidden"-->
                <i class="fa-solid fa-stop"></i>
              </button>
            </div>

            <smalL><i class="fa-solid fa-clock"></i><%=detailItem.publishedAt%></small>
          </div>
            </div>
        </article>
        <form id="speechForm">
          <p role="textbox"><%=detailItem.content%></p>
        </form>
      </section>
    </main>

    <button title="Go to top">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </body>
</html>
