<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>

  <body>
    <main data-route="landing">
      <nav>
        <ul>
          <li>
            <a href="/" aria-label="Homepage">
              <img
                src="./assets/logo/TechDefined-icon.svg"
                alt="TechDefined-logo.svg"
                width="23"
                height="auto"
              />
            </a>
          </li>

          <li>
            <form action="/" method="POST">
              <div>
                <input 
                type="text"  
                placeholder="search for a topic"  
                id="input" 
                name="input"
                value="<%=searchValue%>" />
                <button type="submit">
                  <img
                    src="./assets/icons/search-icon.svg"
                    alt="search-icon"
                    width="26px"
                    height="auto"
                  />
                </button>
              </div>
            </form>
          </li>
        </ul>
      </nav>

      <section>
        <ul>
         <li><button>All</button></li>
         <li><button>Crypto</button></li>
         <li><button>AI</button></li>
         <li><button>Elon Musk</button></li>
         <li><button>5G</button></li>
         <li><button>Amazon</button></li>
         <li><button>Metaverse</button></li>
         <li><button>Jeff Bezos</button></li>
        </ul>
      

        <!-- lOADING STATE -->
        <section>
          <i class="fas fa-spinner"></i>
          <p>Searching for the latest Articles..</p>
        </section>

        <!-- EMPTY STATE -->
        <section>
          <i class="fa-solid fa-question"></i>
          <p>
            No results found for "<span></span>"
            please try again..
          </p>
        </section>
       
        <section class="article-container">
          <ul>
            <% if(searchValue === undefined){ %>
              <% cleanedData.forEach(function(item){ %>
                <li class="articleCard">
                <div>
                  <img loading="lazy" src="<%=item.img%>" alt="<%=item.title%>">
                </div>
                       <article>
                       <a aria-label="Articel Detail Page" href="/articles/<%=item.id%>">
                         <h2><%=item.title%><h2>
                         </a>
                           <div>
                           <small><i class="fa-solid fa-clock"></i><%=item.author%></small>
                           <small><i class="fa-solid fa-file-signature"></i><%=item.publishedAt%></small>
                           </div>
                       </article>
                       </li>
              <% }); %>
              <% } else { %>
                <% searchResults.forEach(function(item){ %>
                  <li class="articleCard">
                  <div><img src="<%=item.img%>" alt="article image"></div>
                         <article>
                         <a aria-label="Articel Detail Page" href="/articles/<%=item.id%>">
                           <h2><%=item.title%><h2>
                           </a>
                             <div>
                             <small><i class="fa-solid fa-clock"></i><%=item.author%></small>
                             <small><i class="fa-solid fa-file-signature"></i><%=item.publishedAt%></small>
                             </div>
                         </article>
                         </li>
                <% }); %>
                <% } %>
          </ul>
        </section>
        </section>
      
    </main>


    <button title="Go to top">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </body>
</html>
